{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use,
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "16.7", // React version, default to the latest React stable release
      "flowVersion": "0.53" // Flow version
    },
    "globals": {
      "window": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  }
}